.card-text {
	text-align: justify;
}

#arrow {
	text-align: right;
	padding-right: 2%;
	margin-top: -100px;
	margin-bottom: 50px;
}

@media all and (max-width: 800px) {
	#arrow {
		margin-top: -50px;
		margin-bottom: 0;
	}
}
