<p class="my-4">Les images doivent respecter un format précis (taille et poids) pour rester en cohérence avec la charte graphique du site et éviter de destructurer les pages.<br/>
	Utilisez un logiciel de retouche pour les recadrer et les exporter avec une compression optimisée pour le web.
</p>

{% form_theme form 'bootstrap_5_layout.html.twig' %}
		{{ form_start(form) }}
<div class="row">
	<div class="col col-md-4">{{ form_row(form.title) }}</div>
</div>
{{ form_rest(form) }}
<button class="btn btn-primary">Valider</button>
{{ form_end(form) }}