{% extends 'base.html.twig' %}

{% block title 'Nouvelle figure' %}

{% block body %}
	
	<div class="container mt-4">
		<h1>Créer une nouvelle figure</h1>
		{{ include ('publish/_form.html.twig') }}
	</div>

{% endblock %}
