{% extends 'base.html.twig' %}

{% block title 'Editer la catégorie' %}

{% block body %}
	<div class="container mt-4">
		<h1>Editer la catégorie</h1>
		<div class="col-xxl-3 col-xl-4 col-md-5">
			{{ include ('admin/category/_form.html.twig') }}
		</div>
	</div>
{% endblock %}


